name: .NET 10 CI

# 定義觸發時機
on:
  push:
    branches: [ "flow" ]
  pull_request:
    branches: [ "flow" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:

      # 1. Redis 服務
      redis:
        image: redis:latest
        ports:
          - 6379:6379

      # 2. RabbitMQ 服務
      rabbitmq:
        image: rabbitmq:3-management
        ports:
          - 5672:5672

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      env:
        # 對應你 Program.cs 與 Extension 中的 Config Key
        Redis: ${{ secrets.REDIS }}
        Redis_Instance_Name: CI_Test_
        RabbitMQ_URI: ${{ secrets.RABBITMQ_URI }}
        TokenKey: ${{ secrets.TOKENKEY }}
        Mail_Verify_Register_Code_Expiry: ${{ secrets.MAIL_VERIFY_REGISTER_CODE_EXPIRY }}
        Mail_Gun_API_key: ${{ secrets.MAIL_GUN_API_KEY }}
        Mail_Gun_Domain: ${{ secrets.MAIL_GUN_DOMAIN }}
        Seed_User_All_Permission_Salt: ${{ secrets.SEED_USER_PERMISSION_SALT }}
        Seed_User_All_Permission_Hash: ${{ secrets.SEED_USER_PERMISSION_HASH }}
        Seed_User_Some_Permission_Salt: ${{ secrets.SEED_USER_PERMISSION_SALT }}
        Seed_User_Some_Permission_Hash: ${{ secrets.SEED_USER_PERMISSION_HASH }}
        JWT_ACCESS_EXPIRATION: ${{ secrets.JWT_ACCESS_EXPIRATION }}
        Test_Email: ${{ secrets.TEST_EMAIL }}
        Send_Email: false
        Postgres_Sql_Connection_String: ${{ secrets.POSTGRES_SQL_CONNECTION_STRING }}
      run: dotnet test --no-build --verbosity normal  
